footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--text-color);

    p {
        font-family: var(--primary-font);
        color: white;
        padding: 20px 0px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}