header {
    #topbar {
        background-color: var(--text-color);
        width: 100%;
        padding: 20px 0px;

        .icons {
            display: flex;
            justify-content: space-around;

            i {
                color: var(--title-color);
                font-size: 20px;
            }

            span {
                color: white;
                display: none;
            }
        }
    }

    #navbar {
        padding: 15px 0px 20px 20px;
        margin-right: 20px;

        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        figure {
            width: 8rem;
        }

        .hamburguer {
            div {
                width: 30px;
                height: 1px;
                background-color: #778899;
                margin: 10px 0px;
                padding-right: 10px;
            }
        }

        nav {
            width: 100%;

            ul {
                list-style: none;

                a {
                    display: inline-block;
                    width: 100%;
                    padding: 10px 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    text-decoration: none;
                    color: #778899;

                    &:hover {
                        color: var(--title-color);
                    }
                }

                div {
                    width: 100%;
                    height: 1px;
                    background-color: #778899;
                }

            }
        }
    }

}