#hero {
    height: 60vh;
    background-image: url(../Images/fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #666;
    background-blend-mode: multiply;
    display: flex;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    h1 {
        font-family: var(--secondary-font);
        font-size: 30px;
        color: white;
        margin: 20px 0px;
    }

    h4 {
        font-family: var(--primary-font);
        font-weight: 400;
        color: var(--title-color);
        font-size: 20px;
    }

    h5 {
        font-family: var(--primary-font);
        font-weight: 400;
        color: white;
        font-size: 20px;
        margin: 20px 0px;
    }

    ul {
        li {
            display: inline-block;
            font-size: 30px;
            color: white;
            padding: 20px 20px 20px 10px;
        }
    }
}