* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    max-width: 1004px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.boton {
    display: inline-block;
    background-color: var(--title-color);
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        background-color: transparent;
        color: var(--title-color);
    }

    &:hover i {
        transform: scaleX(1.5) translateX(2px);
        transition: transform 0.5s;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

html {
    scroll-behavior: smooth;
}


.scroll-top {
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: var(--title-color);
    font-size: 50px;
}

.scroll-top:hover {
    transform: translateY(-3px);
}

footer p a {
    &:hover {
        color: var(--title-color);
    }
}