main section {
    padding: 34px 24px;

    h2 {
        font-family: var(--secondary-font);
        font-size: 32px;
        text-align: center;
        margin: 32px 0px 10px 0px;

        span {
            color: var(--title-color);
        }
    }

    .line {
        width: 30%;
        height: 2px;
        background-color: var(--title-color);
        margin: 0 auto;
        position: relative;

        span {
            position: absolute;
            top: -10px;
            left: 50%;
            font-size: 20px;
            color: var(--title-color);
            font-weight: bold;

        }
    }

    h3 {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 16px;
    }
}


#OurServices {

    div>i {
        color: var(--title-color);
        font-size: 20px;
        border: 1px solid var(--title-color);
        padding: 10px;
        margin: 10px 0px;
    }

    article {
        border-bottom: 2px solid #778899;

        p {
            font-family: var(--primary-font);
            font-weight: 400;
            color: var(--text-color);
            line-height: 20px;
            margin: 8px 0px;
        }

        a {
            display: inline-block;
            color: var(--title-color);
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;
            margin: 12px 0px;
        }
    }
}

#AboutUs {
    margin-bottom: 70px;

    .flex {
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 95%;
        margin: 40px auto;
    }

    .frame {
        position: relative;
        display: inline-block;
        width: 95%;
        margin: 20px auto;
        box-sizing: border-box;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            border: 3px solid var(--title-color);
            transition: 1s;
            transform: rotateZ(10deg);
            box-sizing: border-box;
        }
    }

    h3 {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 18px;
    }

    h4 {
        font-family: var(--primary-font);
        font-weight: 400;
        color: var(--title-color);
        margin: 16px 0px;
    }

    a {
        margin: 16px 0px;
    }

}