@media(width >=769px) {
    #topbar ul.icons li span {
        display: inline;
    }

    #navbar .hamburguer {
        display: none;
    }

    #navbar nav {
        flex: 1;
        margin-left: 1rem;

        div {
            display: none;
        }

        ul {
            display: flex;
            justify-content: end;
        }
    }

    main section {
        .line {
            width: 10%;
        }
    }

    #OurServices {
        .grid {
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            article {
                width: 33.333%;
                height: auto;
                padding: 16px 0px;
                border-bottom: none;
                border-left: 2px solid #778899;
                margin: 16px;
                padding: 0px 16px;
            }
        }
    }

    #AboutUs {
        .flex {
            flex-direction: row;
            margin-top: 40px;
            gap: 20px;
        }

        .img {
            margin: 0px 40px;
            width: 130%;
        }

        .frame:hover::before {
            transform: rotateZ(0deg);
            top: -3px;
            left: -3px;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
        }
    }

    footer {
        text-align: left;

        p {
            padding: 20px 16px;
        }

    }

}