@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100..900&display=swap');

@import url(./variables.css);

@import url(./layout.css);

@import url(./header.css);

@import url(./hero.css);

@import url(./main.css);

@import url(./footer.css);




@import url(./mediaqueries.css)